
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a href="#" class="navbar-brand"><b>SELLECTRIC</b></a>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div id="navbarCollapse" class="collapse navbar-collapse justify-content-start">
        <div class="navbar-nav">

            <a class="nav-item nav-link" href=""> Home </a>

            <a href="products" class="nav-item nav-link">Products</a>

            <AuthorizeView Policy="SecurityLevel3">
                <a class="nav-link" href="warehouse" Match="NavLinkMatch.All"> Warehouse </a>
            </AuthorizeView>

            <AuthorizeView Policy="Securitylevel3">
                <a class=" nav-item nav-link" href="AddProduct"> Add Product</a>
            </AuthorizeView>

            <AuthorizeView Policy="Securitylevel4">
                <a class=" nav-item nav-link" href="register"> Register </a>
            </AuthorizeView>

            <AuthorizeView Policy="Securitylevel1">
                <a class=" nav-item nav-link" href="employees"> Employees </a>
            </AuthorizeView>

            <AuthorizeView Policy="Securitylevel4">
                <a class=" nav-item nav-link" href="employees"> Employees </a>
            </AuthorizeView>
          
            <AuthorizeView Policy="Securitylevel2">
                <a class=" nav-item nav-link" href="reserveHistory">Order History</a>
            </AuthorizeView>
        </div>

        <div class="navbar-nav ml-auto action-buttons">
            <div class="nav-item dropdown">
                <a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle mr-4">Log in/out</a>
                <div class="dropdown-menu action-form">
                    <LoginComponent.Login />
                </div>
            </div>
        </div>
    </div>
</nav>


@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
