@page "/AddProduct"
@using EmployeeClient.Models
@using EmployeeClient.Data
@inject IProductService ProductService
@inject NavigationManager NavigationManager

<EditForm Model="@newProduct" OnValidSubmit="@AddNewProduct">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="container">

        <div class="row">
            <div class="col-sm-9 col-md-7  mx-auto">
                <div class="card card-addProduct my-5">
                    <div class="card-body">
                        <h5 class="card-title text-center">Add New Product</h5>

                        <form class="form-addProduct">

                            <div class="form-label-group">
                                <label> <i class="material-icons"> title </i>Title:</label>
                                <InputText class="form-control" @bind-Value="newProduct.Title" placeholder="Title" required />

                                <label> <i class="material-icons"> category </i> Category:</label>
                                <select class="form-control" @bind="newProduct.Category" required>
                                    <option disabled hidden>Category</option>
                                    <option>Console </option>
                                    <option>Game </option>
                                    <option>PC Component</option>
                                    <option>Laptop </option>
                                    <option>TV </option>
                                    <option>Media Player</option>
                                    <option>Movie </option>
                                    <option>Speaker </option>
                                    <option>Kitchen Appliance </option>
                                    <option>Iron </option>
                                    <option>Camera </option>
                                    <option>Phone </option>
                                    <option>Smart watch</option>
                                    <option>Headphones </option>
                                    <option>Electric scooter</option>
                                    <option>Air Condtion</option>
                                    <option>Drones </option>
                                </select>


                                <label> <i class="material-icons"> article </i> Description:</label>
                                <InputText class="form-control" @bind-Value="newProduct.Description" placeholder="Description" required />

                                <label> <i class="material-icons"> monetization_on </i> Price: </label>
                                <InputNumber class="form-control" @bind-Value="newProduct.Price" required />
                            </div>

                        </form>
                        <button class="btn btn-outline-success btn-block text-uppercase" type="submit">Create</button>
                    </div>

                </div>
            </div>
           
        </div>

    </div>

</EditForm>

@code {
    private Product newProduct = new Product();

    private async Task AddNewProduct()
    {
        await ProductService.AddProductAsync(newProduct);
    }
}
