@page "/AddProduct"
@using EmployeeClient.Models
@using EmployeeClient.Data
@using System.IO
@using EmployeeClient.Data.ImagesService;
@using Microsoft.AspNetCore.Http;
@inject IProductService ProductService
@inject IImagesService ImageService
@inject NavigationManager NavigationManager
@attribute [Authorize(Policy = "SecurityLevel3")]

<h3>AddProduct</h3>

<EditForm Model="@newProduct" OnValidSubmit="@AddNewProduct">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="container">

        <div class="row">
            <div class="col-sm-9 col-md-7  mx-auto">
                <div class="card card-addProduct my-5">
                    <div class="card-body">
                        <h5 class="card-title text-center">Add New Product</h5>

                        <form class="form-addProduct">
                            <div class="form-label-group">
                                <label> <i class="material-icons"> title </i>Title:</label>
                                <InputText class="form-control" @bind-Value="newProduct.Title" placeholder="Title" required />
                                <label> <i class="material-icons"> category </i> Category:</label>
                                <select class="form-control" @bind="newProduct.Category" required>
                                    <option selected disabled hidden>Category</option>
                                    <option>Console </option>
                                    <option>Game </option>
                                    <option>PC Component</option>
                                    <option>Laptop </option>
                                    <option>TV </option>
                                    <option>Media Player</option>
                                    <option>Movie </option>
                                    <option>Speaker </option>
                                    <option>Kitchen Appliance </option>
                                    <option>Iron </option>
                                    <option>Camera </option>
                                    <option>Phone </option>
                                    <option>Smart watch</option>
                                    <option>Headphones </option>
                                    <option>Electric scooter</option>
                                    <option>Air Condtion</option>
                                    <option>Drones </option>
                                </select>


                                <label> <i class="material-icons"> article </i> Description:</label>
                                <InputText class="form-control" @bind-Value="newProduct.Description" placeholder="Description" required />

                                <label> <i class="material-icons"> monetization_on </i> Price: </label>
                                <InputNumber class="form-control" @bind-Value="newProduct.Price" required />

                                <InputFile OnChange="@OnInputFileChange" multiple></InputFile>

                                @if (!string.IsNullOrWhiteSpace(error))
                                {
                                    <div class="alert alert-danger">
                                        @error
                                    </div>
                                }
                                @if (!string.IsNullOrWhiteSpace(message))
                                {
                                    <div class="alert alert-success">
                                        @message
                                    </div>
                                }
                            </div>

                        </form>
                        <button class="btn btn-outline-success btn-block text-uppercase" type="submit">Create</button>
                    </div>

                </div>
            </div>

        </div>

    </div>

</EditForm>

@code {
    List<FileData> fileData = new List<FileData>();

    string message = String.Empty;
    string error = String.Empty;

    private Product newProduct = new Product();

    //Stream fileStream = null;

    private async Task AddNewProduct()
    {
        if (fileData.Count > 1)
        {
            await ProductService.AddProductAsync(newProduct);
            await UploadImages();
        }
        else
        {
            error = "You must upload at least two pictures";
        }
    }

    private async Task OnInputFileChange(InputFileChangeEventArgs e)
    {
        message = String.Empty;

        var maxAllowedFiles = 10;
        if(e.GetMultipleFiles().Count >= 2)
        {
            error = String.Empty;
        }

        foreach (var imageFile in e.GetMultipleFiles(maxAllowedFiles))
        {
            Console.WriteLine("Getting multiple files");
            var buffers = new byte[imageFile.Size];
            if (imageFile.Size > 1048576)
            {
                error = "Image size can max be 1MB";
                return;
            }
            await imageFile.OpenReadStream(1048576).ReadAsync(buffers);
            string imageType = ".";
            if (imageFile.ContentType.Contains("/"))
            {
                int slashIndex = imageFile.ContentType.IndexOf("/");
                imageType += imageFile.ContentType.Substring(slashIndex + 1);
            }
            string imgUrl = $"data:{imageType};base64,{Convert.ToBase64String(buffers)}";

            fileData.Add(new FileData
            {
                Data = buffers,
                FileType = imageType,
                Size = imageFile.Size
            });
        }
    }

    private async Task UploadImages()
    {
        var files = new SaveFile { Files = fileData, ProductID = await ProductService.GetLastAddedProductID() };
        await ImageService.UploadImage(files);
        error = String.Empty;
        message = "Product added";
    }
}
