@page "/register"

@using EmployeeClient.Data;
@using EmployeeClient.Models;
@inject IUserService UsersService
@inject NavigationManager NavigationManager

<EditForm Model="@newUser" OnValidSubmit="@AddNewUser">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="container">

        <div class="row">
            <div class="col-md-9 mx-auto">
                <div class="card card-register">
                    <div class="card-body">
                        <h5 class="card-title text-center">Register New Employee</h5>
                        <form class="form-register">

                            <div class="form-label-group">

                                <label><i class="material-icons"> email </i> Email: </label>
                                <InputText type="email" class="form-control" @bind-Value="newUser.Email" placeholder="Email" required />

                                <label><i class="material-icons"> account_box </i> Name:</label>
                                <InputText class="form-control" @bind-Value="newUser.Name" placeholder="Name" required />

                                <label><i class="material-icons"> home </i> Address:</label>
                                <InputText class="form-control" @bind-Value="newUser.Address" placeholder="Address" required />

                                <label><i class="material-icons"> perm_phone_msg </i> Phone Number:</label>
                                <InputText class="form-control" @bind-Value="newUser.Contact" placeholder="Phone Number" required />

                                <label><i class="material-icons"> security </i> Security Level:</label> <br />
                                <select class="form-control" @bind="newUser.SecurityLevel" required>
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                </select>
                            </div>

                            <div class="form-label-group">
                                <label><i class="material-icons"> event_seat </i> Position:</label>
                                <InputText type="text" class="form-control" @bind-Value="newUser.Position" placeholder="Position" required />

                                <label> <i class="material-icons"> local_convenience_store </i> Store ID:</label>
                                <select class="form-control" @bind="newUser.StoreID" required>
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                </select>

                                <label><i class="material-icons"> lock </i> Password:</label>
                                <InputText class="form-control" type="password" @bind-Value="password" placeholder="Password" required />

                                <label><i class="material-icons"> lock </i> Confirm Password:</label>
                                <InputText class="form-control" type="password" @bind-Value="confirmPassword" placeholder="Confirm Password" required />

                            </div>

                        </form>
                        <button class="btn btn-outline-success btn-block text-uppercase" type="submit" style="margin-left: .5rem;">Create</button>

                    </div>
                </div>

            </div>
        </div>
    </div>

</EditForm>


@code {
    private User newUser = new User();


    private string password;
    private string confirmPassword;

    private void AddNewUser()
    {
        if (password.Equals(confirmPassword))
        {
            newUser.Password = password;

            UsersService.AddUserAsync(newUser);
            NavigationManager.NavigateTo("/Login");
        }
    }
}

